1.

In [3]:
import pandas as pd

In [5]:
# Q1: Create the dataset as shown in Q6
data = {
    "Employee_ID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "Diana", "Edward"],
    "Department": ["HR", "IT", "IT", "Marketing", "Sales"],
    "Age": [29, 34, 41, 28, 38],
    "Salary": [50000, 70000, 65000, 55000, 60000],
    "Years_of_Experience": [4, 8, 10, 3, 12],
    "Joining_Date": ["2020-03-15", "2017-07-19", "2013-06-01", "2021-02-10", "2010-11-25"],
    "Gender": ["Female", "Male", "Male", "Female", "Male"],
    "Bonus": [5000, 7000, 6000, 4500, 5000],
    "Rating": [4.5, 4.0, 3.8, 4.7, 3.5]
}

df = pd.DataFrame(data)
print(df)

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

In [ ]:
# Q2: Locate rows 0, 4, 7, and 8
print("Rows 0, 4, 7, and 8 (if they exist):")
print(df.loc[[0, 4]])

Rows 0, 4, 7, and 8 (if they exist):
   Employee_ID    Name Department  Age  Salary  Years_of_Experience  \
0          101   Alice         HR   29   50000                    4
4          105  Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
4   2010-11-25    Male   5000     3.5

In [7]:
# Q3: Navigate the DataFrame
print("\nRows from index 3 to 7:")
print(df.iloc[3:8])

print("\nRows from index 4 to 8, columns 2 to 4:")
print(df.iloc[4:9, 2:5])

print("\nAll rows with column index 1 to 3 (include index 3):")
print(df.iloc[:, 1:4])

Rows from index 3 to 7:
   Employee_ID    Name Department  Age  Salary  Years_of_Experience  \
3          104   Diana  Marketing   28   55000                    3
4          105  Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

Rows from index 4 to 8, columns 2 to 4:
  Department  Age  Salary
4      Sales   38   60000

All rows with column index 1 to 3 (include index 3):
      Name Department  Age
0    Alice         HR   29
1      Bob         IT   34
2  Charlie         IT   41
3    Diana  Marketing   28
4   Edward      Sales   38

In [19]:

#Question-4
import kagglehub
path = kagglehub.dataset_download("uciml/iris")
rcsv=pd.read_csv(f"{path}/iris.csv")
print(rcsv[0:5])
#Question-5
rcsv.drop(4,axis=0,inplace=True)
rcsv.drop(rcsv.columns[[2]],axis=1,inplace=True)
print(rcsv[0:5])

c:\Users\asus\AppData\Local\Programs\Python\Python313\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/uciml/iris?dataset_version_number=2...

100%|██████████| 3.60k/3.60k [00:00<00:00, 2.91MB/s]

Extracting files...
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
   Id  SepalLengthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1            1.4           0.2  Iris-setosa
1   2            4.9            1.4           0.2  Iris-setosa
2   3            4.7            1.3           0.2  Iris-setosa
3   4            4.6            1.5           0.2  Iris-setosa
5   6            5.4            1.7           0.4  Iris-setosa

In [20]:
#Question-6
data={
    "Employee_Id":[101,102,103,104,105],
    "Name":["Alice","Bob","Charlie","Diana","Edward"],
    "Department":["HR","IT","IT","Marketing","Sales"],
    "Age":[29,34,41,28,38],
    "Salary":[50000,70000,65000,55000,60000],
    "Years_of_experience":[4,8,10,3,12],
    "Joining_Date":["2020-03-15","2017-07-19","2013-06-01","2021-02-10","2010-11-25"],
    "Gender":["Female","Male","Male","Female","Male"],
    "Bonus":[5000,7000,6000,4500,5000],
    "Rating":[4.5,4.0,3.8,4.7,3.5]
}
df=pd.DataFrame(data)

In [17]:
#Part-6-A
print(df.shape)

Shape of the DataFrame: (5, 10)

In [21]:
#Part-6-B
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_Id          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_experience  5 non-null      int64
 6   Joining_Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes
None

In [22]:
#Part-6-C
print(df.describe())

       Employee_Id        Age       Salary  Years_of_experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

In [23]:
#Part-6-D
print(df.head(5))
print(df.tail(3))

   Employee_Id     Name Department  Age  Salary  Years_of_experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5
   Employee_Id     Name Department  Age  Salary  Years_of_experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

In [24]:
#Part-6-e
#1
print(df['Salary'].mean())
#2
print(df['Bonus'].sum())
#3
print(df['Age'].min())
#4
print(df['Rating'].max())

60000.0
27500
28
4.7

In [25]:
#Part-6-f
print(df.sort_values(by='Salary',ascending=False))

   Employee_Id     Name Department  Age  Salary  Years_of_experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2010-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5

In [26]:
#Part-6-g
def categorizing(a):
    if(a>=4.5):
        return 'Excellect'
    elif(a>=4):
        return 'Good'
    else:
        return 'Average'
df['Category']=df['Rating'].apply(categorizing)
print(df)

   Employee_Id     Name Department  Age  Salary  Years_of_experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating   Category
0   2020-03-15  Female   5000     4.5  Excellect
1   2017-07-19    Male   7000     4.0       Good
2   2013-06-01    Male   6000     3.8    Average
3   2021-02-10  Female   4500     4.7  Excellect
4   2010-11-25    Male   5000     3.5    Average

In [27]:
#Part-6-i
df.rename(columns={"Employee_Id":"ID"},inplace=True)
print(df)

    ID     Name Department  Age  Salary  Years_of_experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating   Category
0  Female   5000     4.5  Excellect
1    Male   7000     4.0       Good
2    Male   6000     3.8    Average
3  Female   4500     4.7  Excellect
4    Male   5000     3.5    Average

In [28]:
#Part-6-j
#1
print(df[df['Years_of_experience']>5])
#2
print(df[df['Department']=="IT"])

    ID     Name Department  Age  Salary  Years_of_experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
4  105   Edward      Sales   38   60000                   12   2010-11-25

  Gender  Bonus  Rating Category
1   Male   7000     4.0     Good
2   Male   6000     3.8  Average
4   Male   5000     3.5  Average
    ID     Name Department  Age  Salary  Years_of_experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01

  Gender  Bonus  Rating Category
1   Male   7000     4.0     Good
2   Male   6000     3.8  Average

In [29]:
#Part-6-k
df['Tax']=0.1*df['Salary']
df['Salary']=0.9*df['Salary']
print(df)

    ID     Name Department  Age   Salary  Years_of_experience Joining_Date  \
0  101    Alice         HR   29  45000.0                    4   2020-03-15
1  102      Bob         IT   34  63000.0                    8   2017-07-19
2  103  Charlie         IT   41  58500.0                   10   2013-06-01
3  104    Diana  Marketing   28  49500.0                    3   2021-02-10
4  105   Edward      Sales   38  54000.0                   12   2010-11-25

   Gender  Bonus  Rating   Category     Tax
0  Female   5000     4.5  Excellect  5000.0
1    Male   7000     4.0       Good  7000.0
2    Male   6000     3.8    Average  6500.0
3  Female   4500     4.7  Excellect  5500.0
4    Male   5000     3.5    Average  6000.0

In [30]:
#Part-6-l
df.to_csv("Employee.csv",index=False)