In [1]:
import random

Question 1

In [2]:
l=[10,20,30,40,50,60,70,80]
print("original list",l)
l.append(200)
l.append(300)
print("200,300 add to list",l)
l.remove(10)
l.remove(30)
print("10,30 removed",l)
l.sort()
print ("sorted list (ascending)",l)
l.sort(reverse=True)
print ("sorted list (descending)",l)

original list [10, 20, 30, 40, 50, 60, 70, 80]
200,300 add to list [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
10,30 removed [20, 40, 50, 60, 70, 80, 200, 300]
sorted list (ascending) [20, 40, 50, 60, 70, 80, 200, 300]
sorted list (descending) [300, 200, 80, 70, 60, 50, 40, 20]

Question 2

In [3]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
max = max(scores)
index=scores.index(max)
print ("max element in tuple ",scores," is ",max," at index ",index)
min = min(scores)
count=scores.count(min)
print ("min element in tuple ",scores," is ",min," with count ",count)
print (tuple(reversed(scores)))
if(76 in scores):
    print("element 76 is present with no. of counts ",scores.count(76))
else:
    print("element not found")

max element in tuple  (45, 89.5, 76, 45.4, 89, 92, 58, 45)  is  92  at index  5
min element in tuple  (45, 89.5, 76, 45.4, 89, 92, 58, 45)  is  45  with count  2
(45, 58, 92, 89, 45.4, 76, 89.5, 45)
element 76 is present with no. of counts  1

Question 3

In [4]:
l=[]
even=[]
odd=[]
prime=[]
for i in range(5):
    l.append(random.randint(100,900))
for a in l:
    if a%2==0:
        even.append(a)
        
    else:
        odd.append(a)
print ("list generated ",l)
print ("all even number generated" ,even)
print ("all odd no. generated ",odd)

list generated  [792, 264, 507, 368, 607]
all even number generated [792, 264, 368]
all odd no. generated  [507, 607]

Question 4

In [5]:
A = {34, 56, 78, 90} 
B = {78, 45, 90, 23}
print ("union of sets ", set.union(A,B))
print ("intersection of sets ", set.intersection(A,B))
print ("exclusive score for A",A-B)
print ("exclusive for B",B-A)
print (set.issubset(A,B))
print (set.issuperset(B,A))
x=int(input("eneter element:"))
if x in A:
    set.remove(A,x)
    print ("new scores for team A ",A)
else:
    print("score not found")

union of sets  {34, 45, 78, 23, 56, 90}
intersection of sets  {90, 78}
exclusive score for A {56, 34}
exclusive for B {45, 23}
False
False
new scores for team A  {56, 34, 78}

Question 5

In [6]:
direc={
    "name":"Kelly",
    "age":25,
    "salary":8000,
    "city":"new york"
}
direc["location"]=direc.pop("city")
print(direc)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'new york'}